<form>
	<div class="form-group">
		<label>Correo Electronico</label>
		<input class="form-control" type="email" [(ngModel)]="formulario.auth.email" name="email">
	</div>
	<div class="form-group">
		<label>Contraseña</label>
		<input class="form-control" type="password" [(ngModel)]="formulario.auth.password" name="password">
	</div>	
	<button class="btn btn-success" (click)="iniciarSesion()">Iniciar Sesion</button>
</form>

<p *ngIf="errores" class="alert alert-danger">Hubo un problema, revisa la consola!</p>