<form>
	<div class="form-group">
		<label>Nombre</label>
		<input type="text" name="name" [(ngModel)]="formulario.user.name" class="form-control">
	</div>
	<div class="form-group">
		<label>Correo Electronico</label>
		<input type="email" name="email" [(ngModel)]="formulario.user.email" class="form-control">
	</div>
	<div class="form-group">
		<label>Contraseña</label>
		<input type="password" name="password" [(ngModel)]="formulario.user.password" class="form-control">
	</div>
	<div class="form-group">
		<label>Confirmar contraseña</label>
		<input type="password" name="password_confirmation" [(ngModel)]="formulario.user.password_confirmation" class="form-control">
	</div>
	<button class="btn btn-primary" (click)="crearCuenta()">Crear Cuenta</button>
</form>